#bonus-feeds{
	.bonus-feed-card{

	}

	.reward-avatar{
		box-sizing: border-box;
		width: 31px;
		height: 31px;
		left: 409px;
		top: 424px;
		background: #33CC66;
	}

	.avatar{
		box-sizing: border-box;
		width: 31px;
		height: 31px;
		left: 448px;
		top: 424px;
	}
}

