:root {
  --color-primary: #00bcd4;
  --color-dark: #212121;
  --color-light: #fafafa;

  --background-color: #fafafa;
  --background-color-dark: #212121;
  --background-color-light: #fafafa;

  --text-color: #212121;
  --text-color-dark: #fafafa;
  --text-color-light: #212121;
  --text-color-primary: #00bcd4;

  --border-color: #e0e0e0;
  --border-color-dark: #212121;
  --border-color-light: #fafafa;

  --shadow-color: #000000;
  --shadow-color-dark: #212121;
}
