#app {
  min-height: 100vh;
  box-sizing: border-box;
  background: var(--bg-darker-color);
  font-size: 0.8rem;
}

.section-wrapper {
  width: 100%;
  margin: auto;
  display: grid;
  max-width: 55rem;
  align-items: stretch;
  justify-content: center;
  grid-template-columns: 1fr auto;
  gap: 0.5rem 2rem;
}
